.origins > * {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 6rem;
  }

 .origins__overview {
  width: 612px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;


 }
  
  .origins .text-and-images__cell--image,
  .origins > :first-child {
    padding-top: 6rem;
  }
  
  .origins .text-and-images__cell--text {
    margin: 40px 0 40px 40px;
    padding-top: 0;
  }
  
  .origins .text-and-images__row--pic-left .text-and-images__cell--image {
    margin-top: 100px;
    padding-left: 50px;
  }
  
  .origins .text-and-images__row--pic-right .text-and-images__cell--image {
    margin-top: 70px;
    padding-right: 50px;
  }