.select-container {
    position: relative;
  }
  
  .select-container .select-arrow {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 2rem 0 2.5rem;
    height: 100%;
    background-color: #000;
    pointer-events: none;
  }
  
  .select-container .select-arrow:after {
    content: "›";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 4rem;
    color: #fff;
  }
  
  .select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    background-color: #000;
  }
  
  .select-container select option {
    color: #000;
    background-color: #fff;
  }
  
  .select-container select:focus + .select-arrow:after {
    content: "‹";
  }
  