<!DOCTYPE html>
<html lang="de">
  <!-- prettier-ignore -->
  <%- include("./partials/head", {title: "Produktdetails | Rustica Kaffeerösterei"}) %>
  <body>
    <header class="header">
      <%- include ("./partials/navigation.ejs", activePage = "product") %>
    </header>
    <main class="main product-details">
      <section class="product-info text-and-images">
        <div class="text-and-images__row">
          <div class="text-and-images__cell">
            <img src="../img/FEND_Coffee_Costa-Rica 2.png" />
          </div>
          <div class="text-and-images__cell">
            <h2 id="product-name"></h2>
            <p id="price-range"></p>
            <p id="blurb">
              Filterkaffee ist äußerst ergiebig und hat praktisch keine Säure.
              Den Gaumen umschmeichelt ein vollmundiges Haselnussaroma. Gleich
              probieren!
            </p>
            <div class="product-selection">
              <div class="select-container">
                <select
                  id="coffee-selection"
                  name="coffee-selection"
                  class="coffee-selection-select select"
                  required
                >
                  <option value="" disabled selected hidden>
                    Wie viel Kaffee brauchst du?
                  </option>
                </select>
                <div class="select-arrow"></div>
              </div>
              <button class="button button--dark" id="add-to-cart-button">
                In den Warenkorb
              </button>
            </div>
            <div id="product-icons"></div>
          </div>
        </div>
        <div class="description-container">
          <h3 class="text-heading--tertiary">Beschreibung</h3>
          <p id="description"></p>
        </div>
      </section>
      <section class="product-display product-display--dark">
        <h2>Entdecke weitere<br />Kaffeesorten</h2>
        <div class="product-slider"></div>
        <a
          href="./shop.ejs"
          class="button button--light-border product-display__button"
        >
          Alle Produkte
        </a>
      </section>
    </main>
    <footer class="footer"><%- include ("./partials/footer.ejs") %></footer>
    <script src="../js/scripts/index.js"></script>
    <script src="../js/scripts/product-details.js"></script>
  </body>
</html>
