<div class="footer__container">
  <div class="item item--logo">
    <img src="../img/icons/Logo.svg" alt="Rustica Logo" class="logo-svg" />
  </div>
  <div class="item item--heading">
    <h3 class="footer__main-heading">Rustica</h3>
  </div>
  <div class="item item--subheading">
    <p class="subhead-m">Café & Rösterei</p>
  </div>
  <div class="item item--address">
    <p>
      Komm uns besuchen!<br />
      Fraunhoferstr. 13, Kiel
    </p>
  </div>
  <div class="item item--business-hours">
    <p>
      Mo – Fr 8–18 Uhr<br />
      Sa 11–18 Uhr
    </p>
  </div>
  <div class="item item--navlist"><%- include("./nav-list.ejs") %></div>
  <div class="item item--legal">
    <ul class="link-list">
      <li><a href="impressum.ejs">Impressum</a></li>
      <li><a href="#">Datenschutz</a></li>
    </ul>
  </div>
</div>
