<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../css/main.scss" />

  <title><%=locals.title%></title>
  <!-- Projekt von Jörg Polkehn im Rahmen von der Ausbildung FEND Dezember 2023 -->

  <link rel="shortcut icon" href="../favicon.ico" />
  <link rel="icon" type="image/png" href="../favicon.png" sizes="32x32" />
  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="../mstile-144x144.png" />
</head>
