<section class="map" id="map">
  <h2 class="map__heading">Komm vorbei</h2>
  <iframe
    title="OpenStreetMap-Karte zur Rustica Kaffeerösterei"
    scrolling="no"
    class="map__frame"
    src="https://www.openstreetmap.org/export/embed.html?bbox=10.118982195854189%2C54.34076351215988%2C10.124003291130068%2C54.34294940797261&amp;layer=mapnik&amp;marker=54.34185647459554%2C10.121492743492126"
  ></iframe>
</section>
