<footer class="footer"> 
    <section class="map" id="map"> 
      <h2 class="map__heading">Komm vorbei</h2> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2325.8611713259043!2d10.119531676468915!3d54.34176187259468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b2560c505797eb%3A0xf549da0f074162a9!2sFraunhoferstra%C3%9Fe%2013%2C%2024118%20Kiel!5e0!3m2!1sde!2sde!4v1706693865210!5m2!1sde!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </section> 
    <div class="footer__container"> 
      <div class="item item--logo"> 
        <img src="/images/icons/Logo.svg" alt="Rustica Logo" class="logo-svg"> 
      </div> 
      <div class="item item--heading"> 
        <h3 class="footer__main-heading">Rustica</h3> 
      </div> 
      <div class="item item--subheading"> 
        <p class="subhead-m">Café &amp; Rösterei</p> 
      </div> 
      <div class="item item--address"> 
        <p> Komm uns besuchen!<br> Fraunhoferstr. 13, Kiel </p> 
      </div> 
      <div class="item item--business-hours"> 
        <p> Mo – Fr 8–18 Uhr<br> Sa 11–18 Uhr </p> 
      </div> 
      <div class="item item--navlist"> 
        <ul class="nav__list">  
          <li class="menu-item"> <a class="menu-link" href="/cafe.html">Café</a> </li> 
          <li class="menu-item"> <a class="menu-link" href="/shop.html">Shop</a> </li> 
          <li class="menu-item"> <a class="menu-link" href="/herkunft.html">Herkunft</a> </li> 
         
        </ul> 
      </div>
       <div class="item item--legal"> 
        <ul class="link-list"> 
          <li><a href="/impressum">Impressum</a></li> 
          <li><a href="#">Datenschutz</a></li> 
        </ul> 
      </div> 
    </div> 
</footer> 